<div class="username">
<h1><%= @user.name %></h1>
</div>


<% if @user == current_user %>
<div class="newpost"><%= link_to "Create New Post", new_post_path %></div>


<% end %>


<% @user.posts.each do |post| %>
    <div class="col-md-3">
        <div class="card2">
            <%= link_to(post_path(post.id)) do %>
                <%= image_tag(post.image, { class: "card-img-top" }) %>
                <%= post.title %></br>
                                 </br>
                <%= post.body %>
            <% end %>
        </div> 
    </div>
<% end %>
