

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Create New Post</h1>
        <%= form_for @post do |f| %>
        <div class="form-group">
            <label>Image_url</label>
            <%= f.text_field :image, class: "form-control", placeholder: "Enter Image_url" %>
        </div>
        <div class="form-group">
            <label>Title</label>
            <%= f.text_field :title, class: "form-control", placeholder: "Enter title" %>
        </div>
        <div class="form-group">
            <label>Body</label>
            <%= f.text_area :body, class: "form-control", placeholder: "Enter body" %>
        </div>
        <%= f.submit "Add Post", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>