<div class="card">
  <%= image_tag(@post.image, { class: "card-img-top" }) %>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.body %></p>
  </div>
</div>


<% if @post.user == current_user %>
  <%= link_to "Edit", edit_post_path %>
  <%= link_to "Delete", @post, method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>