<div class="card">
  <%= image_tag(@post.image, { class: "card-img-top" }) %>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.body %></p>
  </div>
</div>



<%= link_to "Edit Post", edit_post_path %>
<%= link_to "Delete Post", "/post" %>

