<!DOCTYPE html>
<html>
  <head>
    <title>Food-E</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   

    <% link_to "Home Page", root_path %>

  <% if logged_in? %>
       <% link_to "Sign Out", logout_path, {method: "delete"} %>
       <% link_to current_user.name, user_path(current_user.id) %>
       
      
    <% else %>
      <% link_to "Sign In", new_session_path %>
      <% link_to "Sign Up", new_user_path %>
    <% end %>
  
  <%= render '/partials/navbar' %>
  <%= render '/partials/flash' %>

  <div class="container">
    <%= yield %>
  </body>
</html>
